.primary
{
    background-color:white;
    color: black;
    border-radius: 16px;    
    padding: 5PX;

}
.primary:hover
{
    background-color: {props.document.background};
    background-color:#102d39;
    color: white;
}
